**/*/.venv
**/*/.venv-appdata
**/*/venv
**/*/__pycache__/
**/*/.mypy_cache/
**/*/.pytest_cache/
**/*/.tox/
**/*/.ruff_cache/
**/*/.cache/
**/*/dist/
**/*/build/
**/*/.eggs/
**/*/*.egg-info/
**/*/.venv/
**/*/venv/                                
**/*/node_modules/
**/*/.parcel-cache/
**/*/.next/
**/*/.nuxt/
**/*/out/
**/*/.vercel/